<html>
   <head>
      <title>PiControl</title>
   </head>   
   <body style="background-color:lightblue;">
      <style>
         div.control{
            margin: auto;
            width: 50%;
            border: 3px solid green;   
         }
      </style>
      <div class = control>
         <form method="post" action="/" style = "margin: auto; width: 50%;",>
            <input type="image" src ="/static/icons/up.png" name="Up" value="Up" >
            <input type="image" src ="/static/icons/down.png" name="Down" value="Down" >
            <input type="image" src ="/static/icons/left.png" name="Left" value="Left" >
            <input type="image" src ="/static/icons/right.png" name="Right" value="Right" >
            <input type="image" src ="/static/icons/ok.png" name="OK" value="OK" >
            <input type="image" src ="/static/icons/pause.png" name="Pause" value="Pause" >
            <input type="image" src ="/static/icons/stop.png" name="Stop" value="Stop" >
            <input type="image" src ="/static/icons/close.png" name="Exit" value="Exit">        
         </form>
      </div>
   </body>
</html>