<html>
   <head>
      <title>PiControl</title>
   </head>   
   <body style="background-color:lightblue;">
      <style>
         div.control{
            margin: auto;
            width: 50%;
            border: 3px solid green;   
         }
      </style>
      <div class = control>
            <input type="image" src ="/static/icons/up.png" name="Up" value="Up" onclick="sendMsg(this.value)">
            <input type="image" src ="/static/icons/down.png" name="Down" value="Down" onclick="sendMsg(this.value)">
            <input type="image" src ="/static/icons/left.png" name="Left" value="Left" onclick="sendMsg(this.value)">
            <input type="image" src ="/static/icons/right.png" name="Right" value="Right" onclick="sendMsg(this.value)">
            <input type="image" src ="/static/icons/ok.png" name="OK" value="OK" onclick="sendMsg(this.value)">
            <input type="image" src ="/static/icons/pause.png" name="Pause" value="Pause" onclick="sendMsg(this.value)">
            <input type="image" src ="/static/icons/stop.png" name="Stop" value="Stop" onclick="sendMsg(this.value)">
            <input type="image" src ="/static/icons/close.png" name="Exit" value="Exit"onclick="sendMsg(this.value)">        
      </div>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
      <script type="text/javascript" charset="utf-8">
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
            socket.emit('my event', 'I\'m connected!');
         });
         function sendMsg(msg){
            socket.emit('my event', msg);
         }
      </script>
   </body>
</html>